<<<<<<< HEAD
body {
  font-family: Arial;
}

.new-css-class-1 {
  color: red;
}

h1 {
  font-size: large;
}

.some-css-class {
  color: green;
}

.new-css-class-2 {
  color: blue;
}


=======
/* from command-line repo remove everything */
>>>>>>> afa20266227ce5b0749a8e37e6cd3ef70c8756ae
